body {
    font-family: Arial, sans-serif;
    background-color: #fadc9b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-box {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}



h1 {
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
}



p {
    margin-bottom: 20px;
    color: #666;
}



.textbox {
    margin-bottom: 15px;
}



.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.toggle-password {
    cursor: pointer;
    position: absolute;
    margin-left: -25px;
    margin-top: 10px;
}



.links {
    margin-bottom: 15px;
}



.links a {
    color: #0066cc;
    text-decoration: none;
}



.links a:hover {
    text-decoration: underline;
}



.btn {
    background-color: #313131;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}



.btn:hover {
    background-color: #6d6d6d;
}



.version-info {
    margin-top: 20px;
    font-size: 0.8em;
    color: #999;
}