@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --c1: #d9933d;
    --c2: #000000;
    --c3: #faebd7;
    --c4: #d9933d;
    --t1: rgba(0, 0, 0, 0.7);
    --t2: rgba(255, 255, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: var(--font-family);
}

body {
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    background-color: #592f16;
}

.menu--icons img {
    width: 25px; /* Controlando o tamanho do ícone do carrinho */
    height: auto; /* Mantendo a proporção */
}

.menu--icons {
    margin-left: auto; /* Move o carrinho para a direita */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1px;
    background-color: var(--c2);
    padding: 1rem 0;
    flex-wrap: wrap;
}

.header--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--c3);
    padding: 10px 2%; /* Ajuste de padding */
    background-color: var(--c2); /* Cor de fundo do header */
}

.burguer--icon i {
    padding: 10px;
    background-color: var(--c1);
    color: var(--c3);
    border-radius: 5px;
    cursor: pointer;
}

.search--box {
    background: var(--c3);
    border-radius: 10px;
    flex: 1;
    align-items: center;
    padding: 0 1rem;
}

.search--box i {
    color: var(--c1);
}

.search--box input {
    background: var(--c3);
    padding: 10px;
    width: 80%;
}

.menu--icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu--icons i {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-cart-shopping {
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.cart-icon {
    position: relative;
}

.cart-icon span {
    background-color: var(--c4);
    color: var(--c3);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.logo img {
    height: 67px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5px 1px;
    justify-content: center;
}

nav ul li {
    margin: 0.5vh 3vw;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #D5CBA4;
    font-size: 17px;
}

nav ul li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li:hover a::after {
    transform: scaleX(1);
}

nav ul li:hover a {
    text-decoration: none;
}

button {
    background-color: var(--c3);
    color: var(--c2);
    font-size: 1.2em;
    border: none;
    padding: 10px 20px;
    border-radius: 0 0 0 25px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
}

.janela {
    width: 35%;
    height: fit-content;
    background-color: var(--c4);
    box-shadow: 0 0 5px var(--t1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.janela div, .janela form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--t2);
    font-weight: bold;
    width: 95%;
}

.oculto {
    display: none;
}

.about {
    padding: 20px;
    background-color: #f9f9f9;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 1;
    margin-left: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.heading span {
    color: var(--c4);
}

.faixa-fundo {
    background-image: url(/docs/tela\ principal\ faixa.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informacoes-container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background: #ecebeb;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo-central {
    position: absolute;
    top: -40px;
    background: #fef4e8;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.logo-central img {
    height: 80px;
}

.conteudo {
    display: flex;
    width: 100%;
    margin-top: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.esquerda, .direita {
    width: 48%;
    min-width: 250px;
}

.titulo {
    font-size: 24px;
    color: #d49e57;
    font-weight: 700;
    margin-bottom: 8px;
}

.endereco {
    margin-bottom: 20px;
    color: #333;
}

.linha-vertical {
    width: 2px;
    background-color: #ccc;
    height: 160px;
    margin: 20px auto;
}

.botao-pontos {
    background-color: var(--c1);
    color: white;
    padding: 6px 8px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.botao-pontos .gif-confete {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.linha-status {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.bolinha-verde {
    width: 10px;
    height: 10px;
    background-color: #00c853;
    border-radius: 50%;
    margin-right: 8px;
}

.animada {
    animation: pulsar 1.2s infinite;
}

@keyframes pulsar {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}

.texto-aberto {
    font-weight: bold;
    color: #069c44;
}


.historia {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: left;
}

.historia-header {
    position: relative;
    margin-bottom: 20px;
}

.historia-header h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #d97a3a;
    color: var(--c3);
    padding: 10px 20px;
    font-size: 1.5em;
    margin: 0;
}

.historia-header img {
    width: 100%;
    display: block;
    margin-top: 50px;
}

.historia-conteudo {
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.ano-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.5em;
    color: #d97a3a;
    font-weight: bold;
    padding-right: 10px;
    border-right: 3px solid #d97a3a;
}

.texto {
    flex: 1;
    line-height: 1.6;
    font-size: 1em;
}

.texto p {
   color: var(--c3);
}

.missoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #d97a3a;
    font-size: 0.9em;
}

.missoes div {
    max-width: 30%;
    line-height: 1.4;
}
footer {
    background: #2c2c2c;
    color: #fff;
    padding: 40px 20px 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
    text-align: center;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h2 {
    margin-bottom: 15px;
    color: #f4a261;
    font-size: 1.3rem;
    border-bottom: 2px solid #f4a261;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section p {
    color: #592f16;
    font-size: 0.95rem;
    line-height: 1.6;
}

.footer-section .contactar {
    color: #ccc;
    font-size: 0.95rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: #ccc;
    font-size: 0.95rem;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #f4a261;
}

/* REDES SOCIAIS */
.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4a261;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    overflow: hidden;
}

.social-links a img {
    width: 35%;
    height: 55%;
    object-fit: contain;
}

.social-links a:hover {
    background: #e76f51;
}

.autor {
    margin: 10px auto;
    width: fit-content;
}

.nomes {
    text-decoration: none;
}

.bloco {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.bloco:hover {
    background-color: #e0f0ff;
    transform: scale(1.02);
}

.bloco img {
    width: 24px;
    height: 24px;
}

.bloco p {
    margin: 0;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}


/* PARTE INFERIOR */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #e76f51;
    font-size: 0.9rem;
    color: #bbb;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}


@media (max-width: 1024px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }
    .esquerda, .direita {
        width: 90%;
    }
    .faixa-fundo {
        flex-direction: column;
        padding: 30px 15px;
    }
}

@media (max-width: 770px) {
    header, footer {
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .about .row {
        flex-direction: column;
        padding: 10px;
    }

    .janela {
        width: 90%;
    }

    button {
        font-size: 1em;
        padding: 8px 15px;
    }

    input {
        width: 90%;
    }

    .logo-central img {
        height: 60px;
    }

    .informacoes-container {
        padding: 15px;
    }

    .titulo {
        font-size: 20px;
    }

    .faixa-fundo {
        padding: 20px 10px;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 50px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .about .row .content h3 {
        font-size: 1.5rem;
    }

    .about .row .content p {
        font-size: 1rem;
    }

    .titulo {
        font-size: 18px;
    }
}
